{% extends 'base.html' %}
{%block title%}
Market Page
{%endblock%}
{% block content %}

<div class="row" style="margin-top: 20px; margin-left: 20px;">
   <div class="col-8">
      <h2> Available Items on the Market</h2>
      <p> Click on one of the items to start buying</p>
      <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               <th scope="col">Barcode</th>
               <th scope="col">Origin</th>
               <th scope="col">Price</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            <!-- Iterate over items list of dicts-->
            <!-- Each tr tag responsible for filling values of 1 row-->
            {% for item in items %} <!-- % allows us to write logic python esque code-->
            {% include 'includes/items_modals.html' %} <!-- To customise modal for each item. Gives access to each item.-->
            <tr>
               <td>{{item.id}}</td>
               <td>{{item.name}}</td>
               <td>{{item.barcode}}</td>
               {% if item.origin_code %}
                  <td><span class="flag-icon flag-icon-{{ item.origin_code }} flag-icon-squared" style="font-size: 1.54em;"></span></td>
               {% else %}
                  <td>Unknown</td>
               {% endif %}
               <td>${{item.price}}</td>
               <td>
                  <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}"> More Info</button>
                  <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}"> Purchase this item</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   <!-- Display the items owned by curr user-->
   <div class="col-4">
    <h2> Owned items </h2>
    <p> Your owned items will appear here.</p> <!-- Set up this logic, only include this statement if user has no items-->
    <br>
    <div class="row">
      {% for item in owned_items %}
      {% include 'includes/owned_items_modals.html' %}
      <div class="col-md-6">
         <!-- Html code responsible to create bootstrap-->
         <div style="margin-bottom: 5px" class="card text-center bg-dark">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
               {% if item.origin_code %}
                  <span class="flag-icon flag-icon-{{ item.origin_code }} flag-icon-squared mb-2" style="font-size: 2em;"></span>
                  <br>
               {% endif %}
                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                data-toggle="modal" data-target="#Modal-SellingConfirm-{{ item.id }}">
                    Sell this item
                </button>
                <p class="card-text"><strong>
                    Item price: ${{ item.price}}
                </strong></p>

            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}